<section class="hero-wrapper d-flex align-items-center justify-content-center mb-2">
  <div class="mx-5 text-center text-yellow text-center">
    <h1 class="title">Let your dreams come true </h1>
    <h6>Build your own unique desktop PC with us!</h6>
  </div>
</section>

<section class="container mb-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card text-center h-100 opacity-75">

          <img class="card-img-top" src="https://images.unsplash.com/photo-1627281795187-9605af7235b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1330&q=80" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Browse hardwares</h5>
          <p class="card-text">Select from our collection of the best desktop computer components!</p>
          <a routerLink="/hardwares" class="btn btn-dark">Hardwares</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center h-100 opacity-75">
        <div class="img-wrapper">
          <img src="https://images.unsplash.com/photo-1678642851519-15d224598d68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1880&q=80" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Build your PC</h5>
          <p class="card-text">There are endless variations for building a strong, unique desktop PC based on your needs.</p>
        </div>
        <div class="card-footer p-0">
          <a routerLink="/builder" class="btn btn-dark">Build a PC</a>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center h-100 opacity-75">
        <div class="img-wrapper">
          <img src="https://images.unsplash.com/photo-1623243747526-d1a0413e45c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Stay the best</h5>
          <p class="card-text">If you sign up, you can save multiple builds and come back to compare them anytime.</p>
          <a routerLink="/login" class="btn btn-dark">Login</a>
        </div>
      </div>
    </div>

  </div>
</section>