<div class="container w-50 justify-content-center align-items-center">
  <h2>Update config NR{{currentConfig._id}}</h2>

  <div class="p-4 form-wrapper ">
    <form *ngIf="detailsForm" [formGroup]="detailsForm" (ngSubmit)="update(detailsForm.value)" class=" text-yellow opacity-75">
      
      <div class="mb-2 form-group-row" *ngFor="let category of categories; index as i">
        
        <label [for]="category.toLowerCase()" class="col-form-label me-2">
          {{category}}
          <select class="form-control-sm form-select" 
          [id]="category.toLowerCase()" [formControlName]="category.toLowerCase()" [name]="category" [value]="category"
          >
          <option [disabled]="true" [selected]="true" [hidden]="true" [defaultSelected]="true">
            Select a {{category}}
          </option>
          
          <ng-container *ngFor="let hardware of hardwares; index as j">
            <option *ngIf="hardware.category === categories[i]" [value]="hardware.name">
              {{hardware.name}}
            </option>
          </ng-container>
          
        </select>
      </label>
      <!-- <button class="btn btn-success">+</button> -->
    </div>
    
    <button class="btn btn-outline-info">Update</button>
    <!-- <button (click)="update(currentConfig)" class="btn btn-outline-info">Update</button> -->
    <button (click)="delete(currentConfig._id)" class="btn btn-outline-danger ms-2">Delete</button>
  </form>
</div>


</div>