<h2 class="text-center text-yellow my-5">Hardwares</h2>

<div class="d-flex container justify-content-center align-items-center">

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">More info</th>
        <!-- <th scope="col">Actions</th> -->
      </tr>
    </thead>

    <tbody>
      <tr #eachHardware *ngFor="let hardware of hardwares; index as i">
        <th scope="row">{{i+1}}.</th>
        <td>{{hardware.name}}</td>
        <td>{{hardware.category}}</td>
        <td>
          <button (click)="showMoreInfo(hardware.name)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#infoModal" data-backdrop="false"
          >
            More
          </button>
        </td>
        <!-- <td>
          <div class="btn-group">
            <button class="btn btn-warning">Up</button>
            <button class="btn btn-danger">Del</button>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>

</div>


<!-- * modal -->
<!-- <ng-container #infoModal *ngIf="selectedHardware">
  <app-hw-details [hardware]="selectedHardware"></app-hw-details>
</ng-container> -->

<!-- <ng-container #infoModal *ngIf="selectedHardware"> -->
    <app-hw-details  [hardware]="selectedHardware" ></app-hw-details>
<!-- </ng-container> -->

  <!-- <app-hw-details *ngIf="selectedHardware" [hardware]="selectedHardware" [data]="data"></app-hw-details> -->
  <!-- <ng-template *ngIf="selectedHardware">
    <app-hw-details *ngIf="modalOpen$ | async"  [hardware]="selectedHardware"></app-hw-details>
  </ng-template> -->


<!-- <ng-container #infoModal *ngIf="selectedHardware">
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="infoModalLabel">{{selectedHwName}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <app-hw-details [hardware]="selectedHardware"></app-hw-details>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->