<h3 class="text-yellow text-center">Login</h3>

<div class="form-wrapper d-flex container justify-content-center align-items-center">

  <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
    class="p-5 text-yellow opacity-75"
  >

    <div *ngIf="email" class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="email.invalid && email.touched" class="text-danger fw-bold">A valid email is required.</div>
    </div>
    <div *ngIf="password" class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="password.invalid && password.touched" class="text-danger fw-bold">A valid password is required.</div>
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-warning">
      Login
    </button>

    <div class="pt-5">
      Don't have an account? <span class="fw-bold"><a routerLink="/signup">Sign up now!</a></span>
    </div>

  </form>

</div>